*{
          margin: 0;
          padding: 0;
}


.main{
          /* border: 3px solid black; */
          /* height: 1000px; */
}
.parent-house{
          /* border: 3px solid red; */
          height: 900px;
          display: flex;
          /* flex-direction: column; */
          justify-content: space-between;
}
.sidebar{
          display: flex;
          flex-direction: column;
          /* border: 3px solid green; */
          width: 10%;
          text-align: center;
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.153573);
          /* height: 90%; */
}
.shape{
          /* border: 3px solid black; */
          height: 50%;
}
.sidebar img{
          margin-top: 25px;
}
.list{
          /* display: flex; */
          /* flex-direction: column; */
          /* border: 3px solid red; */
          /* position: absolute; */
          /* bottom: 0; */
          height: 50%;
          align-items: center;
}
.list-link{
          /* border: 3px solid yellow; */
          height: 100%;
          display: flex;
          justify-content: center;
}
.line{
          height: 2px;
          /* border: 3px solid  #8B8B8B; */
          color:  #8B8B8B;
          transform: rotate(-90deg);
          position: absolute;
          bottom: -70px;
          width: 7%;
          /* border: 0.2px solid #8B8B8B; */
          background: #8B8B8B;
          height: 1px;
}
.list-holder{
          /* border: 3px solid blue; */
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

}
.list-holder ul{
          border: 3px solid transparent;
          transform: rotate(-90deg);
          display: flex;
          justify-content: space-evenly;
          width: 20%;
          padding: 5px 20px;
          position: absolute;
          bottom: 95px;
          /* height: 100%; */
}
.list-holder li{
          border: 3px solid transparent;
          list-style: none;
          font-weight: 400;
          cursor: pointer;
}
.list-holder li a{
          text-decoration: none;
          border: 1px solid transparent;
          font-size: 15px;

}
.list-holder li a:hover{
          color: #E48A00;
          border-bottom: 3px solid #8B8B8B;
          transition: 0.5s ease-in-out;
}
.main-page{
          /* border: 3px solid blue; */
          width: 90%;
          background: url(./sofashop.png);
          background-size: 77%;
          background-repeat: no-repeat;
          background-position: top right;
          /* height: 90%; */
          /* margin-bottom:50px; */
}

.links{
          background: white;
          /* display: flex; */
          width: 45%;
          position: absolute;
          right: 0;
          box-shadow:  0px 2px 50px rgba(0, 0, 0, 0.252076);
          
          
}
.links ul{
          /* border: 3px solid black; */
          display: flex;
          padding: 15px;
          justify-content: space-evenly;
          width: 100%;
}
.links li {
          border: 3px solid transparent;
          list-style: none;
          font-size: 17px;
          font-weight: 400;
          cursor: pointer;
          padding: 5px;
}
.links li a{
          text-decoration: none;
}
.links li:hover{
          border: 2px solid #E48A00;
          border-radius: 10px;
          transition: 0.2s ease-in-out;
}
.links ul li:nth-child(1)::before{
          content: "";
          position: absolute;
          bottom: 16.5px;
          height: 7px;
          background: rgba(253, 191, 68, 0.15);
          width: 50px;
}
.logo{
          margin-top: 30px;
          /* border: 3px solid black; */
          width: fit-content;
          margin-left: 10px;
}
.logo h3{
          font-size: 40px;
          font-weight: 700;   
          cursor: pointer;
}
.logo span{
          color: #FDBF44;
}
.slogan{
          /* border: 3px solid blue; */
          position: absolute;
          top: 29.6%;
          left: 49%;
          display: flex;
          flex-direction: column;
          /* overflow: hidden; */

}
.slogan p{
          font-size: 100px;
          font-weight: 700;
          color: black;
          letter-spacing: -5px;
          /* top: %; */
      
}
.slogan-2{
       
          position: absolute;
    top: 66.5%;
    left: 36%;
    display: flex;
    letter-spacing: -5px;
    /* border: 3px solid yellow; */
    height: 108px;
    overflow: hidden;
    padding-right: 20px;
    margin-left: 20px;
}
.slogan-2 span{
          font-size: 130px;
          font-weight: 800;
          color: #E48A00 ;
          text-shadow: 0px 1px 0px #FFFFFF;
}
.note{
          /* border: 3px solid black; */
          width: 50%;
          position: absolute;
          bottom: -15%;
          width: 80%;
          /* margin-bottom: 30px; */
          right: 0px;
          display: flex;
          flex-direction: row;
}
.content{
          /* border: 3px solid blue; */
          width: 50%;
          padding: 20px 0 10px 50px;
          background: #FFFFFF;
          box-shadow:  0px 2px 30px rgba(0, 0, 0, 0.128196), inset 10px 0px 0px #FDBF44;
}
.content h4{
          color: #8B8B8B;
          font-size: 14px;
          font-weight: 400;
          /* border: 2px solid red; */
          width: fit-content;
}
.content h2{
          display: flex;
          flex-direction: column;
          /* border: 3px solid black; */
          font-weight: 700;
          font-size: 40px;
}
.content h2::after{
          content: "";
          height: 5px;
          background: rgba(253, 191, 68, 0.15);
          width: 28%;
          /* border: 2px solid blue; */
          margin-top: -10px;
}
.content p{
          font-size: 17px;
          font-weight: 400;
          color: #91949A;
          line-height: 25px;
}
.content button{
          background: black;
          color: white;
          padding: 10px 30px;
          margin: 10px 50px 10px 0;
          float: right;
          cursor: pointer;
}
.content button:hover{
          width: 30%;
          background: transparent;
          color: black;
          transition:  0.4s  ease-in-out;
}
.num{
          /* border: 3px solid red; */
          width: 50%;
}
.num h2{
          /* border: 3px solid blue; */
          font-size: 150px;
          font-weight: 700;
          position: absolute;
          right: 1px;
          color: #dfe2e6;
          bottom: 35px;
}
.icon{
          border: 3px solid transparent;
          position: absolute;
          bottom: 0;
          right: 0;
          /* padding: 10px 0; */
          /* margin-top: 400px; */
}
.icon i{
          font-size: xx-large;
          padding: 0 10px;
          border: 2px solid transparent;
          cursor: pointer;

}
.icon i:hover{
          background: black;
          color: white;
          border-radius: 50%;
          padding: 5px;
          transition: 0.4s ease-in-out;
}